body{
	margin: 45px auto;
	text-align: center;
}

#chart{
	border: 1px solid black;
	// opacity: 0.8;
}

.axis{
	font-size: 17px;
}

.axis-label{
	text-anchor: middle;
	fill: black;
	font-size: 18px;
}

.bikers-name{
	font-size: 14px;
	fill: black;
}
