html {
  background: url(http://static.digg.com/images/90fea9dde30044a09242879f6b37bece_9f8a6fa872b24912a63bd61fb171c642_header.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white; }

#canvas {
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.69);
  width: 960px;
  height: 700px; }

#footer {
  color: #bbb;
  text-shadow: 2px 2px 4px;
  text-align: left;
  position: relative;
  bottom: 0px;
  font-size: 1em;
  display: block; }

.title {
  padding-top: 8px; }

.intro {
  margin: -14px; }

g.gridline line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(175, 175, 175, 0.72);
  stroke-width: 1px;
  stroke-dasharray: 2; }

.point {
  cursor: pointer; }

.axis {
  fill: white;
  font-size: 17px; }

.axis-label {
  text-anchor: middle;
  fill: white;
  font-size: 20px; }

.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 98px;
  padding: 7px;
  font: 15px sans-serif;
  background: black;
  border: 25px;
  border-radius: 12px;
  line-height: 18px;
  pointer-events: none;
  box-shadow: 0px 0px 12px -10px; }

.bikers-name {
  font-size: 13px;
  fill: white; }

g.axis line, g.axis path {
  fill: none;
  stroke-width: 2px;
  stroke: white;
  shape-rendering: crispEdges; }

g.axis text {
  fill: white;
  shape-rendering: crispEdges; }

g.axis path {
  stroke-width: 2;
  stroke: white;
  shape-rendering: crispEdges; }

.errorMessage {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
