body {
  margin: 45px auto;
  text-align: center; }

#chart {
  border: 1px solid black; }

.axis {
  font-size: 17px; }

.axis-label {
  text-anchor: middle;
  fill: black;
  font-size: 18px; }

.bikers-name {
  font-size: 14px;
  fill: black; }
